.H5 {
}

.MachineDialog {
  position: relative;
  width: 382px;
  height: 492px;
  padding: 22px 10px 32px 20px;

  .dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;

    .img-close {
      width: 34px;
      height: 34px;
      cursor: pointer;
    }
  }

  .machine-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    margin: 12px 0;
    padding-right: 10px;
    font-size: 14px;
    text-align: center;

    .img-tag3, .img-tag5 {
      display: inline-block;
      min-width: 70px;
      margin-right: 8px;
      padding: 0 8px;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
    }

    .select-box {
      display: flex;
      align-items: center;
      cursor: pointer;

      .img-checkboxBg {
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 4px;

        &.active {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            background: url("@/assets/img/common/hook.png") no-repeat center/15px 15px;
          }
        }
      }

      .select-label {
        font-weight: 900;
        line-height: 1;
        background-image: linear-gradient(to bottom, #fff, #C7F1FF);
        -webkit-background-clip: text;
        color: transparent;
      }
    }
  }

  .machine-list {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 346px;
    padding-right: 5px;

    &::-webkit-scrollbar{
      display: block;
      width: 4px;
      height: 4px;
      background: rgba(255, 255, 255, 0.08);
    }
    &::-webkit-scrollbar-track{
      background: transparent;
      border-radius:2px;
    }
    &::-webkit-scrollbar-thumb{
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover{
      background: rgba(255, 255, 255, 0.5);
    }

    &::after {
      content: '';
      flex: auto;
    }

    .img-machineBg {
      width: 106px;
      height: 162px;
      margin-right: 12px;
      margin-bottom: 22px;
      padding: 13px 10px;
      text-align: center;
      font-size: 14px;
      line-height: 1;

      .img-tag4 {
        display: inline-block;
        height: 24px;
        margin-bottom: 16px;
        padding: 0 8px;
        line-height: 24px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
      }

      .revolutions {
        height: 20px;
        margin-top: 8px;
        margin-bottom: 20px;
        font-size: 20px;
        background-image: linear-gradient(to bottom, #FF7658, #FFDBD7);
        -webkit-background-clip: text;
        color: transparent;
      }

      .img-enter {
        display: inline-block;
        width: 81px;
        height: 34px;
        cursor: pointer;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n+3) {
        margin-bottom: 0;
      }
    }
  }
}